@import 'tailwindcss';

*
{
  @apply p-0 m-0 box-border;
  font-family: Arial, Helvetica, sans-serif;
}

body, html
{
  @apply overflow-x-hidden;
}

/* ------------------------------- */

nav
{
  @apply fixed w-full top-0 justify-between items-center
  bg-gray-200 py-4 px-4 transition-all duration-300 z-[999];
}

.iconButton, .iconButton-primary
{
  @apply py-2 px-6 rounded-full cursor-pointer
  transition-all duration-300;
}

.iconButton
{
  @apply text-black border border-blue-950;
}

.iconButton-primary
{
  @apply text-white bg-blue-950;
}

/* ------------------------------- */

section
{
  @apply py-[100px] px-4 md:px-10 lg:px-20;
}

#hero-container
{
  @apply flex flex-col justify-center items-center
  w-full gap-4 mt-10;
}

.btn-quiz-card
{
  @apply bg-gray-400/50 text-white py-2 px-10 rounded-full shadow-2xl
  w-full md:w-max cursor-pointer transition-all duration-300;
}

.quiz-btn
{
  @apply bg-blue-950 text-white py-3 px-10 rounded-full shadow-2xl w-full
  text-start transition-all duration-300 hover:scale-[0.99] hover:bg-blue-900
  hover:shadow-blue-500;
}

.btn
{
  @apply bg-blue-950 text-white py-3 px-10 rounded-full cursor-pointer
  shadow-2xl transition-all duration-300 hover:scale-[0.95] hover:bg-blue-900
  hover:shadow-blue-500;
}

.btn-danger
{
  @apply bg-red-700 text-white py-3 px-10 rounded-full cursor-pointer
  shadow-2xl transition-all duration-300 hover:scale-[0.99] hover:bg-red-600;
}

/* ------------------------------- */

.form_page
{
  background-color: #162456;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='200' viewBox='0 0 160 80'%3E%3Cg fill='%231C398E' %3E%3Cpolygon points='0 10 0 0 10 0'/%3E%3Cpolygon points='0 40 0 30 10 30'/%3E%3Cpolygon points='0 30 0 20 10 20'/%3E%3Cpolygon points='0 70 0 60 10 60'/%3E%3Cpolygon points='0 80 0 70 10 70'/%3E%3Cpolygon points='50 80 50 70 60 70'/%3E%3Cpolygon points='10 20 10 10 20 10'/%3E%3Cpolygon points='10 40 10 30 20 30'/%3E%3Cpolygon points='20 10 20 0 30 0'/%3E%3Cpolygon points='10 10 10 0 20 0'/%3E%3Cpolygon points='30 20 30 10 40 10'/%3E%3Cpolygon points='20 20 20 40 40 20'/%3E%3Cpolygon points='40 10 40 0 50 0'/%3E%3Cpolygon points='40 20 40 10 50 10'/%3E%3Cpolygon points='40 40 40 30 50 30'/%3E%3Cpolygon points='30 40 30 30 40 30'/%3E%3Cpolygon points='40 60 40 50 50 50'/%3E%3Cpolygon points='50 30 50 20 60 20'/%3E%3Cpolygon points='40 60 40 80 60 60'/%3E%3Cpolygon points='50 40 50 60 70 40'/%3E%3Cpolygon points='60 0 60 20 80 0'/%3E%3Cpolygon points='70 30 70 20 80 20'/%3E%3Cpolygon points='70 40 70 30 80 30'/%3E%3Cpolygon points='60 60 60 80 80 60'/%3E%3Cpolygon points='80 10 80 0 90 0'/%3E%3Cpolygon points='70 40 70 60 90 40'/%3E%3Cpolygon points='80 60 80 50 90 50'/%3E%3Cpolygon points='60 30 60 20 70 20'/%3E%3Cpolygon points='80 70 80 80 90 80 100 70'/%3E%3Cpolygon points='80 10 80 40 110 10'/%3E%3Cpolygon points='110 40 110 30 120 30'/%3E%3Cpolygon points='90 40 90 70 120 40'/%3E%3Cpolygon points='10 50 10 80 40 50'/%3E%3Cpolygon points='110 60 110 50 120 50'/%3E%3Cpolygon points='100 60 100 80 120 60'/%3E%3Cpolygon points='110 0 110 20 130 0'/%3E%3Cpolygon points='120 30 120 20 130 20'/%3E%3Cpolygon points='130 10 130 0 140 0'/%3E%3Cpolygon points='130 30 130 20 140 20'/%3E%3Cpolygon points='120 40 120 30 130 30'/%3E%3Cpolygon points='130 50 130 40 140 40'/%3E%3Cpolygon points='120 50 120 70 140 50'/%3E%3Cpolygon points='110 70 110 80 130 80 140 70'/%3E%3Cpolygon points='140 10 140 0 150 0'/%3E%3Cpolygon points='140 20 140 10 150 10'/%3E%3Cpolygon points='140 40 140 30 150 30'/%3E%3Cpolygon points='140 50 140 40 150 40'/%3E%3Cpolygon points='140 70 140 60 150 60'/%3E%3Cpolygon points='150 20 150 40 160 30 160 20'/%3E%3Cpolygon points='150 60 150 50 160 50'/%3E%3Cpolygon points='140 70 140 80 150 80 160 70'/%3E%3C/g%3E%3C/svg%3E");
}

form
{
  @apply bg-gray-950/50 backdrop-blur-md min-h-[450px] p-4 md:p-10 w-full lg:w-[50%] 
  xl:w-[35%] rounded-2xl shadow-2xl flex flex-col justify-center items-center gap-4
}

form div
{
  @apply flex flex-col gap-2 w-full;
}

form p
{
  @apply text-white text-center;
}

label
{
  @apply text-white font-semibold;
}

input
{
  @apply bg-white p-3 rounded-xl
}

/* ------------------------------- */

.footer
{
  @apply w-full h-20 bg-blue-950 p-4 text-zinc-400 flex 
  justify-center items-center;
}